{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USM | {{title}}</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %}">
</head>
<body>
    <header class="row justify-content-center container-fluid mx-0 py-0">
        <div class="col sm-12 lg-2">
            <img id="miImg" class="img-fluid" src="{% static 'core/IMG/logoUSM.png' %}" alt="logo USM">
        </div>
        <div class="col sm-0 lg-10 xxl-8 text-center d-none d-lg-block">
            <h1>Sistema Integrado de Notificaciones</h1>
        </div>
        <div class="col sm-0 xxl-2 d-none d-xxl-block">
            <img id="miImg" class="img-fluid" src="{% static 'core/IMG/logoUSM.png' %}" alt="logo departamento">
        </div>
    </header>
    <nav class="navbar d-none d-lg-block d-xxl-none">
        <div class="container-fluid justify-content-center">
            <a class="nav-item" href="{% url 'index' %}">Inicio</a>
            <a class="nav-item" href="/admin">Administracion</a>
        </div>
    </nav>
    <div class="row row-cols-1 row-cols-lg-3 d-xxl-none justify-content-center">
        {% block carta %}
        {% endblock %}
    </div>
    <div class="row d-none d-xxl-block justify-content-center">
        {% block carrusel %}
        {% endblock %}
    </div>
</body>
</html>